<div class="main-banner">
  <div class="container">
    <h1>
      {{ title }}
    </h1>
    <div class="subtitle">
      {{ subtitle }}
    </div>
    <a href="#" class="btn">Выбрать торт</a>
    <div class="main-banner__advantages banner-advantages">
      <div class="banner-advantages__row">
        <div class="banner-advantages__item">
          <div class="banner-advantages__icon banner-advantages__icon--eco"></div>
          <div class="banner-advantages__desc">Натуральные <br>ингредиенты</div>
        </div>
        <div class="banner-advantages__item">
          <div class="banner-advantages__icon banner-advantages__icon--gift"></div>
          <div class="banner-advantages__desc">Доставка бесплатно <br>при заказе от 2000 рублей</div>
        </div>
      </div>
    </div>
  </div>
</div>
