<footer class="footer">
  <div class="container">
    <div class="footer__row">
      <div class="logo">Cakes</div>
      <ul class="footer-nav">
        <li *ngFor="let mainNavLink of mainNavLinks">
          <a href="#{{ mainNavLink.alias }}">{{ mainNavLink.name }}</a>
        </li>
      </ul>
      <div>
        <app-s-network></app-s-network>
      </div>
    </div>
    <div class="footer__row footer__row--copyright">
      <div class="copyright">© 2018 Cakes</div>
    </div>
  </div>
</footer>
