@import "../../../scss/variables";

.order {
  margin-bottom: 100px;
  counter-reset: order-name;

  .order-step {
    background-color: $white;
    box-shadow: 0 10px 13px 0 rgba(163,6,60,0.05);
    margin-bottom: 35px;
    padding: 50px 80px 80px;
    position: relative;



    .swiper-slide {
      padding-top: 30px;
      margin-bottom: 5px;
    }

    &::after {
      content: '';
      display: block;
      clear: both;
    }

    &__option {
      position: relative;

      &.selected {

        .order-step__selected {
          opacity: 1;
        }
      }
    }

    &__selected {
      position: absolute;
      color: $pink;
      top: -25px;
      left: -25px;
      opacity: 0;
    }

    &__name {
      color: $pink;
      font-size: 24px;
      font-weight: 600;
      position: absolute;
      top: 60px;
      left: 60px;
      margin: 0;

      &:before {
        counter-increment: order-name;
        content: '0' counter(order-name);
        display: block;
        font-size: 58px;
      }
    }

    &__options {
      padding-left: 120px;
    }
  }

}

.option-card {

  align-items: center;

  &.option-card--h {

    display: flex;

    .option-card__image {
      max-width: 346px;

      img {
        background-color: $pink-light;
      }
    }

    .option-card__desc-wrap {
      padding-left: 44px;
    }

    .option-card__name {
      font-size: 20px;
      line-height: 36px;
      font-weight: bold;
    }

    .option-card__desc {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 24px;
      max-width: 300px;
    }

    .option-card__price {
      font-size: 22px;
      line-height: 26px;
      font-weight: bold;
      margin-bottom: 46px;
    }
  }


}

.option-item {
  &__image {
    position: relative;
    width: fit-content;
    margin-bottom: 10px;
    label {
      cursor: pointer;
    }
    img {
      padding: 20px;
      border-radius: 50%;

      &:hover {
        box-shadow: $pink-shadow;
      }
    }
  }
  &__val {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__desc {
    text-align: center;
  }

  &.selected {
  img {
        box-shadow: $pink-shadow;
      }
  }

  .order-step__selected {
    top: 0;
    left: 0;
  }
}

.order-step__options--size {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.order-step__option--decorating {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: $pink-shadow;
  padding: 30px 20px;

  .option-card {
    &__image {
      margin-bottom: 44px;
      position: relative;
      padding-top: 80%;
      text-align: center;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &__desc {
      text-align: center;
    }
    &__name {
      font-size: 20px;
      line-height: 30px;
    }
    &__price {
      font-size: 22px;
      line-height: 30px;
      font-weight: bold;
    }
  }
}

.order-submit {
  margin-top: 60px;
  h3 {
    font-size: 27px;
  }
  &__row {
    display: flex;
    align-items: flex-end;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 30px;
      flex-grow: 1;
    }
  }
  &__title {
    color: $pink;
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 20px;
    font-style: italic;
  }
  &__desc {
    font-size: 18px;
    line-height: 30px;
    border: none;
    border-bottom: 1px solid #c1b0af;
    background-color: transparent;
  }
}

@media (max-width: 1199px) {
  .order {
    margin-bottom: 40px;

    .order-step {
      margin-bottom: 20px;
      padding: 40px;

      &__options {
        padding-left: 0;
      }

      &__name {
        top: 40px;
        left: 40px;
        font-size: 20px;
        &:before {
          font-size: 40px;
          line-height: 40px;
        }
      }
    }
  }

  .order-submit {
    margin-top: 30px;
    h3 {
      font-size: 22px;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    &__title {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 14px;
    }
    &__desc {
      font-size: 18px;
      line-height: 26px;
      padding: 4px 8px;
      border: 1px solid #c1b0af;
      border-radius: 18px;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

@media (max-width: 991px) {
  .order-submit {
    &__row {
      align-items: center;
      flex-direction: column;
    }
    &__item {
      width: 100%;
      text-align: center;

      .btn {
        width: 100%;
      }

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
    &__title {
      margin-bottom: 10px;
    }
    &__desc {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .order {
    .order-step {
      margin-bottom: 10px;
      padding: 20px 20px 26px;

      &__name {
        position: static;

        &::before {
          display: inline-block;
          margin-right: 6px;
          font-size: 32px;
          line-height: 32px;
        }
      }
    }

    .option-card {
      flex-direction: column;

      &.option-card--h {
        .option-card__desc-wrap {
          padding-left: 0;

          .btn {
            display: block;
            max-width: 200px;
            margin-left: auto;
            margin-right: auto;
          }
        }

        .option-card__price {
          text-align: center;
          margin-bottom: 26px;
        }
      }
    }

    .option-item {
      width: 100%;
      &:not(:first-child) {
        display: none;
      }
      &__image {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .order-step__option--decorating {
      margin-right: 0;
      &:not(:first-child) {
        display: none;
      }
    }
  }

  .order-slider {
    padding: 0;

    &__arrow {
      display: none;
    }
  }

}
