<div *ngIf="!catalogGroupItems" class="catalog-items">
  <style>
    .start-loader {
      height: 75vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .start-loader__icon {
      animation-name: loader-animation;
      animation-duration: 1000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    @keyframes loader-animation {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  </style>
  <div class="start-loader">
    <div>
      <svg width="100" class="start-loader__icon" height="100" viewBox="0 0 100 100">
        <defs>
          <linearGradient id="stroke-gradient">
            <stop offset="0%" stop-color="#fbebea"/>
            <stop offset="25%" stop-color="#fbebea"/>
            <stop offset="100%" stop-color="#f50049"/>
          </linearGradient>
        </defs>
        <circle cx="50" cy="50" r="42" fill="#fbebea" stroke="url(#stroke-gradient)" stroke-width="8"/>
      </svg>
    </div>
  </div>
</div>
<div
  *ngIf="catalogGroupItems"
  [class.catalog-items--list]="showListView"
  class="catalog-items">
  <div class="catalog-items__row">
    <ng-container *ngFor="let item of catalogGroupItems">
      <app-catalog-card [item]="item"></app-catalog-card>
    </ng-container>
  </div>
</div>
