<div
  [class.catalog-items--list]="showListView"
  class="catalog-items">
  <div class="catalog-items__row">
    <div *ngFor="let item of catalogGroup.items"
          class="catalog-item">
        <div class="catalog-item__icons"></div>
        <div class="catalog-item__image">
          <div class="catalog-carousel">
            <div class="catalog-carousel__wrapper">
              <img src="{{ item.image }}" alt="">
            </div>
          </div>
        </div>
        <div class="catalog-item__desc">
          <div class="catalog-item__title">{{ item.name }}</div>
          <div class="catalog-item__price">200$</div>
        </div>
        <div class="catalog-item__actions">
          <div class="catalog-item__options">
            <label *ngFor="let opt of item.options; first as isFirst">
              <input type="radio" [checked]="isFirst" name="{{item.name}}" value="">
              <span>{{ opt.title }}</span>
            </label>
          </div>
          <div class="catalog-item__btns">
            <button class="btn" type="button" name="button">Add to cart</button>
          </div>
        </div>
    </div>
  </div>
</div>
