<div *ngIf="catalogGroup" class="container">
  <h1 class="catalog-header">{{ catalogGroup.nameRus }}</h1>
  <div class="catalog-category">
    <div class="catalog-category__sidebar">
      <div class="catalog-category__sidebar__inner">
        <nav class="catalog-nav">
          <ul class="catalog-nav__list">
            <li class="catalog-nav__item">
              <a class="catalog-nav__link current" href="">{{ catalogGroup.nameRus }}</a>
            </li>
            <li class="catalog-nav__item">
              <a class="catalog-nav__link" href="">For wedding</a>
            </li>
            <li class="catalog-nav__item">
              <a class="catalog-nav__link" href="">For children</a>
            </li>
          </ul>
        </nav>
        <div class="catalog-filters">
          <dl class="catalog-filters__list">
            <dt class="catalog-filters__name">Price</dt>
            <dl class="catalog-filters__val"></dl>
          </dl>
        </div>
      </div>
      <div class="sidebar-banner">
        <a href="#">
          <img src="assets/images/catalog-mousse.png" alt="The best mousse cakes ever">
        </a>
      </div>
    </div>
    <div class="catalog-category__content">
      <div class="catalog-view">
        <div class="catalog-view__row">
          <div class="catalog-view__group">
            <div class="catalog-view__item">Price</div>
            <div class="catalog-view__item">Size</div>
          </div>
          <div class="catalog-view__group">
            <div class="catalog-view__item">List</div>
            <div class="catalog-view__item active">Cards</div>
          </div>
        </div>
      </div>
      <div class="catalog-items">
        <div class="catalog-items__row">
          <div class="catalog-item">

              <div class="catalog-item__icons"></div>
              <div class="catalog-item__image">
                <div class="catalog-carousel">
                  <div class="catalog-carousel__arrows">
                    <div class="catalog-carousel__arrow"></div>
                    <div class="catalog-carousel__arrow"></div>
                  </div>
                  <div class="catalog-carousel__wrapper">
                    <img src="assets/images/catalog-mousse.png" alt="The best mousse cakes ever">
                  </div>
                </div>
              </div>
              <div class="catalog-item__desc">
                <div class="catalog-item__title">Mousse berry</div>
                <div class="catalog-item__price">200$</div>
              </div>
              <div class="catalog-item__actions">
                <div class="catalog-item__options">
                  <label>
                    <input type="radio" checked name="" value="">
                    <span>1kg</span>
                  </label>
                  <label>
                    <input type="radio" name="" value="">
                    <span>2kg</span>
                  </label>
                </div>
                <div class="catalog-item__btns">
                  <button class="btn" type="button" name="button">Add to cart</button>
                </div>
              </div>

          </div>
          <div class="catalog-item">

              <div class="catalog-item__icons"></div>
              <div class="catalog-item__image">

              </div>
              <div class="catalog-item__desc">
                <div class="catalog-item__title"></div>
                <div class="catalog-item__price"></div>
              </div>
              <div class="catalog-item__actions">
                <div class="catalog-item__options"></div>
                <div class="catalog-item__btns">
                  <button class="btn" type="button" name="button">Add to cart</button>
                </div>
              </div>

          </div>
          <div class="catalog-item">
            <div class="catalog-item__wrapper">
              <div class="catalog-item__icons"></div>
              <div class="catalog-item__image">

              </div>
              <div class="catalog-item__desc">
                <div class="catalog-item__title"></div>
                <div class="catalog-item__price"></div>
              </div>
              <div class="catalog-item__actions">
                <div class="catalog-item__options"></div>
                <div class="catalog-item__btns">
                  <button class="btn" type="button" name="button">Add to cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__wrapper">
              <div class="catalog-item__icons"></div>
              <div class="catalog-item__image">

              </div>
              <div class="catalog-item__desc">
                <div class="catalog-item__title"></div>
                <div class="catalog-item__price"></div>
              </div>
              <div class="catalog-item__actions">
                <div class="catalog-item__options"></div>
                <div class="catalog-item__btns">
                  <button class="btn" type="button" name="button">Add to cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__wrapper">
              <div class="catalog-item__icons"></div>
              <div class="catalog-item__image">

              </div>
              <div class="catalog-item__desc">
                <div class="catalog-item__title"></div>
                <div class="catalog-item__price"></div>
              </div>
              <div class="catalog-item__actions">
                <div class="catalog-item__options"></div>
                <div class="catalog-item__btns">
                  <button class="btn" type="button" name="button">Add to cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__wrapper">
              <div class="catalog-item__icons"></div>
              <div class="catalog-item__image">

              </div>
              <div class="catalog-item__desc">
                <div class="catalog-item__title"></div>
                <div class="catalog-item__price"></div>
              </div>
              <div class="catalog-item__actions">
                <div class="catalog-item__options"></div>
                <div class="catalog-item__btns">
                  <button class="btn" type="button" name="button">Add to cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__wrapper">
              <div class="catalog-item__icons"></div>
              <div class="catalog-item__image">

              </div>
              <div class="catalog-item__desc">
                <div class="catalog-item__title"></div>
                <div class="catalog-item__price"></div>
              </div>
              <div class="catalog-item__actions">
                <div class="catalog-item__options"></div>
                <div class="catalog-item__btns">
                  <button class="btn" type="button" name="button">Add to cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__wrapper">
              <div class="catalog-item__icons"></div>
              <div class="catalog-item__image">

              </div>
              <div class="catalog-item__desc">
                <div class="catalog-item__title"></div>
                <div class="catalog-item__price"></div>
              </div>
              <div class="catalog-item__actions">
                <div class="catalog-item__options"></div>
                <div class="catalog-item__btns">
                  <button class="btn" type="button" name="button">Add to cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="catalog-item">
            <div class="catalog-item__wrapper">
              <div class="catalog-item__icons"></div>
              <div class="catalog-item__image">

              </div>
              <div class="catalog-item__desc">
                <div class="catalog-item__title"></div>
                <div class="catalog-item__price"></div>
              </div>
              <div class="catalog-item__actions">
                <div class="catalog-item__options"></div>
                <div class="catalog-item__btns">
                  <button class="btn" type="button" name="button">Add to cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
