<div *ngIf="catalogGroup" class="container">
  <h1 class="catalog-header">{{ catalogGroup.nameRus }}</h1>
  <div class="catalog-category">
    <div class="catalog-category__sidebar">
      <div class="catalog-category__sidebar__inner">
        <app-catalog-nav></app-catalog-nav>
        <app-catalog-filters></app-catalog-filters>
      </div>
      <app-sidebar-banner></app-sidebar-banner>
    </div>
    <div class="catalog-category__content">
      <app-catalog-view (changeCatalogView)="changeView($event)"></app-catalog-view>
      <app-catalog-items catalogGroup={{catalogGroup}} [showListView]="showListView"></app-catalog-items>
    </div>
  </div>
</div>
