@import "../../scss/variables";
.catalog-header {
  font-size: 64px;
  line-height: 70px;
}

.catalog-category {
  display: grid;
  grid-template-columns: 300px auto;
  grid-gap: 36px;
  margin-bottom: 40px;

  &__sidebar {
    &__inner {
      background-color: $white;
      box-shadow: $pink-shadow;
      padding: 40px 20px;
    }
  }

  &__content {
  }
}

.catalog-nav {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding: 0;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #fbebea;
    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: none;
    }
  }

  &__link {
    display: block;
    font-size: 20px;
    line-height: 32px;
    padding: 5px 0;
    letter-spacing: -1px;
    color: $gray-dark;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
      color: $pink;
    }
    &.current {
      color: $pink;
    }
  }
}

.catalog-filters {
  &__list {

  }
  &__name {
    display: block;
    border-bottom: 1px solid #dedede;
    font-size: 20px;
    line-height: 32px;
    padding: 5px 0;
    letter-spacing: -1px;
    color: $gray-dark;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
  }
  &__val {
    display: block;
    border-top: 1px solid #fbebea;
    margin: 0;
  }
}

.catalog-view {

  background-color: $white;
  box-shadow: $pink-shadow;
  padding: 10px 0;

  &__row {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  &__group {
    margin-right: 24px;
    display: inline-flex;
  }

  &__item {
    cursor: pointer;

    &:not(:last-child) {
      padding-right: 10px;
      margin-right: 10px;
      border-right: 1px solid #dedede;
    }

    &.active {
      color: $pink;
    }
    &:hover {
      color: $pink;
    }
  }
}

.catalog-items {
  padding: 44px 0 0;
  &__row {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.catalog-item {
  background-color: $white;
  box-shadow: $pink-shadow;
  padding: 20px;
  display: flex;
  flex-direction: column;


  &__icons {
    display: flex;
    align-items: center;
  }
  &__image {
    padding-top: 100%;
    position: relative;

    .catalog-carousel {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &__wrapper {
      }
    }
  }
  &__desc {
    text-align: center;
  }
  &__title {
    font-size: 20px;
    line-height: 30px;
  }
  &__price {
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
  }
  &__actions {
    margin-top: auto;
  }
  &__options {
    margin: 10px 0 16px;
    text-align: center;
  }
  &__btns {
    .btn {
      padding: 16px;
      display: block;
      text-align: center;
      width: 100%;
    }
  }
}

.sidebar-banner {
  margin-top: 36px;
  background-color: $white;
  box-shadow: $pink-shadow;
  padding: 20px;
  img {
    max-width: 100%;
    height: auto;
    text-align: center;
  }
}

@media (max-width: 1199px) {
  .catalog-items {
    &__row {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 991px) {
  .catalog-category {
    display: block;
    &__sidebar {
      margin-bottom: 44px;
    }
  }
  .sidebar-banner {
    display: none;
  }
}

@media (max-width: 575px) {
  .catalog-items {
    &__row {
      grid-template-columns: 1fr;
    }
  }
}
