<section class="feedback">
  <div class="container">
    <h2 class="center">Testimonials</h2>
    <div class="feedback__row">
      <div class="feedback__item">
        <div class="feedback__image">
          <img src="assets/images/feedback-photo.png" alt="">
        </div>
        <div class="feedback__desc">
          <div class="feedback__title">
            Maria
          </div>
          <div class="feedback__subtitle">
            manager, 33
          </div>
          <div class="feedback__content">
            I bought chocolate cake for my son birthday party. All guests were delighted! Thank you for delivery in time either. We'll order only your cakes!
            <a href="#">More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
