<section class="feedback">
  <div class="container">
    <h2 class="center">Отзывы</h2>
    <div class="feedback__row">
      <div class="feedback__item">
        <div class="feedback__image">

        </div>
        <div class="feedback__desc">
          <div class="feedback__title">
            Мария
          </div>
          <div class="feedback__subtitle">
            юрист, 33 года
          </div>
          <div class="feedback__content">
            Заказывала торт брауни на юбилей мужа.Гости были в восторге! Отдельное спасибо за своевременную доставку! Теперь будем заказывать торты только у вас для наших семейных праздников:) 
            <a href="#">Развернуть</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
