.feedback {
  margin-bottom: 100px;
  &__row {
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &__image {
    min-width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__desc {
    margin-left: 50px;
  }
  &__title {
    font-size: 27px;
    font-weight: bold;
  }
  &__subtitle {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 18px;
  }
  &__content {
    font-size: 18px;
    line-height: 24px;
  }
}
