<section class="about">
  <div class="container">
    <h2>О нас</h2>
    <div class="typography">
      <img class="image-right" src="#" alt="">
      <div class="subtitle">О кондитере</div>
      <p class="bigger"><b>Кондитер – как призвание</b></p>
      <p>Павел — профессиональный повар в различных гастрономических областях, но однажды его сердце покорило кондитерское искусство.С ранних лет он увлекался утонченным мастерством и обратился к своим талантам как кондитер.</p>
      <p class="bigger"><b>Принцип – натуральные ингредиенты</b></p>
      <p>Сегодня Павел радует изделиями не только близких, но и тех, кто предпочитает качественную продукцию для торжества, а главным принципом является выбор натуральных ингредиентов.</p>
    </div>
    <div class="s-network">
      <div class="s-network__row">
        <a class="s-network__item s-network__item--inst" href="#"></a>
        <a class="s-network__item s-network__item--vk" href="#"></a>
        <a class="s-network__item s-network__item--tw" href="#"></a>
      </div>
    </div>
    <div class="quote">
      <blockquote>
        Я за простые рецепты. В Италии это называют cucina povera: когда обычные ингредиенты превращаются в божественное блюдо.
      </blockquote>
    </div>
  </div>
</section>
<app-icon-svg width="40"></app-icon-svg>
