<section id="main-page-about" class="about">
  <div class="container">
    <div class="typography clearfix">
      <img class="image-right" src="assets/images/about-photo.png" alt="">
      <h2>About us</h2>
      <div class="subtitle">About cakemaker</div>
      <p class="bigger"><b>Cakemaker is vocation</b></p>
      <p>Pavel — professional cook in different areas but he focuse on cakes. Since childhood, he was passionate with baking.</p>
      <p class="bigger"><b>Only eco ingredients</b></p>
      <p>The main principle is fresh and eco ingredients</p>
    </div>
    <div>
      <app-s-network></app-s-network>
    </div>
    <div class="quote">
      <blockquote>
        I like simple recepies. Italians call this cucina povera: when simple ingredients turn into terribly tasty cake.
      </blockquote>
    </div>
  </div>
</section>
