.banner-advantages {

  &__row {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__icon {
    width: 55px;
    height: 55px;
    display: inline-block;
    vertical-align: middle;
    //background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
  }

  &__icon--eco {
    background-image: url('/assets/images/icon-eco.png');
  }

  &__icon--gift {
    background-image: url('/assets/images/icon-gift.png');
  }

  &__desc {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 18px;
  }
}
