.main-banner {
  background-image: url('/assets/images/banner-img.png');
  background-position: right center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 270px;
  margin-bottom: -80px;
  h1 {
    max-width: 370px;
    line-height: 80px;
    margin: 0 0 20px;
  }
  .subtitle {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 60px;
  }
  .btn {
    margin-bottom: 128px;
  }
}

@media (max-width: 1199px) {

  .main-banner {
    background-position: right top;
    background-size: 60%;
    padding-top: 80px;
    padding-bottom: 150px;

    h1 {
      font-size: 60px;
      line-height: 66px;
    }
  }

}

@media (max-width: 767px) {

  .main-banner {
    background-image: url('/assets/images/banner-img-mobile.png');
    background-position: center -75px;
    background-size: 100%;
    padding-top: 120px;
    padding-bottom: 40px;
    margin-bottom: 0;
    h1 {
      font-size: 40px;
      line-height: 44px;
      text-align: center;
    }
    .subtitle {
      text-align: center;
    }

    .btn {
      margin-bottom: 30px;
      width: fit-content;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

}
