.main-banner {
  background-image: url('/assets/images/banner-img.png');
  background-position: right center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 270px;
  margin-bottom: -80px;
  h1 {
    max-width: 370px;
    line-height: 80px;
    margin: 0 0 20px;
  }
  .subtitle {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 60px;
  }
  .btn {
    margin-bottom: 128px;
  }
}
