.order {
  counter-reset: order-name;

  .order-step {
    background-color: $white;
    box-shadow: 0 10px 13px 0 rgba(163,6,60,0.05);
    margin-bottom: 35px;
    padding: 90px 80px;

    &::after {
      content: '';
      display: block;
      clear: both;
    }


    &__name {
      color: $pink;
      font-size: 24px;
      font-weight: 600;
      margin: 0;
      float: left;


      &:before {
        counter-increment: order-name;
        content: '0' counter(order-name);
        display: block;
        font-size: 58px;
      }
    }
  }

}

.option-card {

  &.option-card--h {

    .option-card__image {
      width: 346px;
      height: 390px;
      float: left;
    }

    .option-card__desc-wrap {
      padding-left: 44px;
    }

    .option-card__name {
      font-size: 20px;
      line-height: 36px;
      font-weight: bold;
    }

    .option-card__desc {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 24px;
      max-width: 300px;
    }

    .option-card__price {
      font-size: 22px;
      line-height: 26px;
      font-weight: bold;
      margin-bottom: 46px;
    }
  }


}
