<section class="contacts">
  <div class="container">
    <h2>Contacts</h2>
    <div class="subtitle">Any questions?</div>
    <div class="contacts__row">
      <div class="contacts__col">
        <p>Fill the form and we contact us</p>
        <form class="contacts-form" id="contacts-form" action="index.html" method="post">
          <label>
            <input type="text" name="" value="" placeholder="Your name">
          </label>
          <label>
            <input type="text" name="" value="" placeholder="Email">
          </label>
          <label>
            <input type="text" name="" value="" placeholder="Your message">
          </label>
        </form>
      </div>
      <div class="contacts__col">
        <p>Or call us: +7 926 255 42 18</p>
        <p>Or send us email: cakes@alexashaweb.com</p>
        <p>Social networks:</p>
        <app-s-network></app-s-network>
      </div>
    </div>
  </div>
</section>
