<section class="contacts bg bg--image" style="background-image: url(assets/images/berry-2.png)">
  <div class="container">
    <h2>Contacts</h2>
    <div class="subtitle">Any questions?</div>
    <div class="contacts__row">
      <div class="contacts__col">
        <p>Fill the form and we will contact us</p>
        <form class="contacts-form" id="contacts-form" action="index.html" method="post">
          <div class="form-field">
            <label>
              <input class="text-field" type="text" name="" value="" placeholder="Your name">
            </label>
            <label>
              <input class="text-field" type="text" name="" value="" placeholder="Email">
            </label>
            <label>
              <textarea class="text-field" placeholder="Your message" rows="1" cols="80"></textarea>
            </label>
          </div>
          <button class="btn" type="submit" name="#">Send</button>
        </form>
      </div>
      <div class="contacts__col">
        <p>Or call us: +7 926 255 42 18</p>
        <p>Or send us email: cakes@alexashaweb.com</p>
        <p>Social networks:</p>
        <app-s-network></app-s-network>
      </div>
    </div>
  </div>
</section>
