@import url('https://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,600|Playfair+Display:700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: $black;
  background-color: $pink-light;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  color: $gray-dark;
}

a {
  color: $pink;

  &:hover {
    text-decoration: none;
  }
  &:active, &:focus {
    opacity: 0.7;
  }
}

h1 {
  font-size: 78px;
  line-height: 84px;
}

h2 {
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 60px;
}

.subtitle {
  font-size: 36px;
  line-height: 42px;
  font-family: 'Cookie', cursive;
}


h2 + .subtitle {
  margin-top: -60px;
  margin-bottom: 36px;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  padding: 16px 65px;
  text-align: center;
  background-color: $pink;
  border: 1px solid $pink;
  border-radius: 25px;
  cursor: pointer;
  transition: 150ms ease;

  &:hover {
    color: $pink;
    background-color: $white;
    box-shadow: $pink-shadow;
    text-decoration: none;
  }

  &:active {
    box-shadow: none;
    opacity: 0.75;
  }

  &:focus {

  }
}

.center {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  max-width: 1220px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.offset-bottom {
  margin-bottom: 60px;
}

.offset-top {
  margin-top: 60px;
}

.image-right {
  float: right;
  margin-left: 80px;
}

.image-left {
  float: left;
  margin-right: 80px;
}

.bg.bg--red {
  background-color: $red;
  padding: 110px 0 170px;
  color: white;
  h2,h3,h4 {
    color: white;
  }
}

.bg.bg--image {
  background-repeat: no-repeat;
  background-size: auto;
}

.bg.bg--image-right {
  background-position: right center;
  padding-right: 50%;
}

.bg.bg--image-left {
  background-position: left center;
  padding-left: 50%;
}

.order-slider {
  position: relative;
  padding: 0 105px;

  &__arrow {
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    background-color: $pink-light;

    &--right {
      right: 0;
    }

    &--left {
      left: 0;
    }
  }
  &__wrapper {
    display: flex;
  }
}

.order-slide {
  display: none;
}

.order-slide--active {
  display: flex;
}

.order-step__selected .mat-icon {
  width: 50px;
  height: 50px;
}
