@import url('https://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,600|Playfair+Display:700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: $black;
  background-color: $pink-light;
}

input, textarea {
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: $pink;

  &:hover {
    text-decoration: none;
  }
  &:active, &:focus {
    opacity: 0.7;
  }
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  padding: 16px 65px;
  text-align: center;
  background-color: $pink;
  border: 1px solid $pink;
  border-radius: 25px;
  cursor: pointer;
  transition: 150ms ease;

  &:hover {
    color: $pink;
    background-color: $white;
    box-shadow: $pink-shadow;
    text-decoration: none;
  }

  &:active {
    box-shadow: none;
    opacity: 0.75;
  }

  &:focus {

  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  max-width: 1220px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.bg.bg--red {
  background-color: $red;
  padding: 110px 0 170px;
  color: white;
  h2,h3,h4 {
    color: white;
  }
}

.bg.bg--image {
  background-repeat: no-repeat;
  background-size: auto;
}

.bg.bg--image-right {
  background-position: right center;
  padding-right: 50%;
}

.bg.bg--image-left {
  background-position: left center;
  padding-left: 50%;
}

.order-slider {
  position: relative;
  padding: 0 105px;

  &__arrow {
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    background-color: $pink-light;

    &--right {
      right: 0;
    }

    &--left {
      left: 0;
    }
  }
  &__wrapper {
    display: flex;
  }
}

.order-slide {
  display: none;
}

.order-slide--active {
  display: flex;
}

.order-step__selected .mat-icon {
  width: 50px;
  height: 50px;
}

.order-rules {
  max-width: 520px;
  &__list {
    font-size: 22px;

    li:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

[_nghost-c14] {
  width: 100%;
}

.swiper-container:before, .swiper-container:after {
  content: '';
  display: block;
  width: 60px;
  position: absolute;
  background: white;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.swiper-container:before {
  left: 0;
}

.swiper-container:after {
  right: 0;
}

.swiper-container {

  padding-left: 70px;
  padding-right: 70px;

  .swiper-wrapper {
  }

  .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: $gray-dark;
    box-shadow: $pink-shadow;
    cursor: pointer;
    font-size: 0;
    text-align: center;
    padding-top: 14px;
    background-image: none;

    &:hover {
      color: $pink;
    }
    &.swiper-button-disabled {
      opacity: 0;
    }
    .swiper-button-next {
      right: 0;
    }
    .swiper-button-prev {
      left: 0;
    }
  }

  &__arrow--left {
    left: 0;
  }

  &__arrow--right {
    right: 0;
  }

  .swiper-slide {
  }


}

@media (max-width: 1199px) {
  .bg.bg--image-left {
    background-position: 120% center;
    padding-left: 36%;
  }
}

@media (max-width: 767px) {
  .bg.bg--image-left {
    background-position: center bottom;
    background-size: contain;
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 140px;
  }
}
