<section class="advantages">
  <div class="container">
    <h2 class="center">Наши преимущества</h2>
    <div class="subtitle center">Почему нас выбирают ?</div>
        Без искусственных добавок
        Работаем  с натуральными ингредиентами и свежими продуктами
        Свежий торт в день торжества
        Торты изготавливаются в течение суток до отправки
  </div>
</section>
<section class="advantages">
  <div class="container">
    <h2>Забота о клиентах</h2>
    <div class="subtitle">Для нас важно</div>
    Нам важно чтобы каждый торт был безупречным, как внутри, так и снаружи, чтобы он был создан исключительно для вас и для вашего события.
  </div>
</section>
<section class="bg bg--image bg--red">
  <div class="container">
    <div class="order-rules">
      <h2>Как заказать</h2>
      <ul class="order-rules__list">
        <li>
          <b>Срок заказа</b><br>
          Размещать заказы желательно за 2-3 дня. На выходные заказы лучше размещать минимум за неделю.
        </li>
        <li>
          <b>Доставка по городу</b><br>
          Доставка в пределах города 200 рублей , при заказе на сумму более 2000  доставка бесплатно.
        </li>
        <li>
          <b>Доставка за городом</b><br>
          Доставка за пределами города рассчитывается индивидуально.
        </li>
      </ul>
    </div>
  </div>
</section>
