<section class="advantages">
  <div class="container">
    <h2 class="center">Advantages</h2>
    <div class="subtitle center">Why choose us?</div>
        No artificial supplements
        Only natural ingredients and fresh products
        Fresh cake just in your special day
  </div>
</section>
<section class="advantages">
  <div class="container">
    <h2>Care about our clients</h2>
    <div class="subtitle">This is important for us</div>
    It is important for us to cake was perfect as inside as outside.
  </div>
</section>
<section class="bg bg--image bg--red">
  <div class="container">
    <div class="order-rules">
      <h2>How to order</h2>
      <ul class="order-rules__list">
        <li>
          <b>When?</b><br>
          Place order for 2-3 days and for a week before week-ends and hholidays.
        </li>
        <li>
          <b>City delivery</b><br>
          Fees - 50$
        </li>
        <li>
          <b>Remote areas</b><br>
          Please, contact us and we count fees of your delivery
        </li>
      </ul>
    </div>
  </div>
</section>
