<section class="advantages">
  <div class="container">
    <div class="typography clearfix">
      <img class="image-left" src="assets/images/berry-1.png" alt="">
      <h2>Advantages</h2>
      <div class="subtitle">Why choose us?</div>
          <p>No artificial supplements</p>
          <p>Only natural ingredients and fresh products</p>
          <p>Fresh cake just in your special day</p>
    </div>
  </div>
</section>
<section class="advantages">
  <div class="container">
    <div class="typography clearfix">
      <img class="image-right" src="assets/images/cake-1.png" alt="">
      <h2>Care about our clients</h2>
      <div class="subtitle">This is important for us</div>
      <p>It is important for us to cake was perfect as inside as outside.</p>
    </div>
  </div>
</section>

<section id="main-page-order-rules" class="advantages bg bg--image bg--red bg--image-left" style="background-image: url('assets/images/gift.png')">
  <div class="container">
    <div class="order-rules">
      <h2>How to order</h2>
      <ul class="order-rules__list">
        <li>
          <b>When?</b><br>
          Place order for 2-3 days and for a week before week-ends and holidays.
        </li>
        <li>
          <b>City delivery</b><br>
          Fees - 50$
        </li>
        <li>
          <b>Remote areas</b><br>
          Please, contact us and we count fees of your delivery
        </li>
      </ul>
    </div>
  </div>
</section>
